{% extends "base.html" %}
{% block title %}Articles{%endblock%}

{% block meta_extra %}
<style>
#main > header {
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ SITEURL }}/theme/css/images/conversation.jpg") !important;
}
</style>
{% endblock %}

{% block content %}
<!-- Main -->
  <article id="main">
    <header>
      <h2>Quoi de neuf chez nous ?</h2>
      <p>Commérages et brèves de comptoir…</p>
    </header>
    {% for article in dates %}
    <section class="wrapper style5">
      <div class="inner">
      <h3><a class="post-title" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
      <p>{{ article.accroche }}</p>
    </div>
  </section>
    {% endfor %}
  </article>
{% endblock %}
