<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" prefix="og: http://ogp.me/ns#">
<head>
  {% block head %}
    <title>{{ SITENAME }} - {% block title %}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_extra %}{% endblock %}

  	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" />
		<!--[if lte IE 8]><script src="{{ SITEURL }}/theme/js/ie/html5shiv.js"></script><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ SITEURL }}/theme/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ SITEURL }}/theme/css/ie9.css" /><![endif]-->

    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endblock head %}
</head>

<body class="{{ output_file.split('/')[-1].split('.')[0] }}">
<!-- Page Wrapper -->
<div id="page-wrapper">

<!-- Header -->
{% if output_file.split('/')[-1].split('.')[0] == "index" %}
  <header id="header" class="alt">
{% else %}
  <header id="header">
{% endif %}
    <h1><a href="index.html">La Brasserie du Vieux Singe</a></h1>
    <nav id="nav">
      <ul>
              {% for title, link in MENUITEMS %}
                <li{% if link == '/' + output_file %} class="active"{% endif %}>
                  <a href="{{ link }}">{{ title }}</a>
                </li>
              {% endfor %}
      </ul>
    </nav>
  </header>

  {% block content %}{% endblock %}

	<!-- Footer -->
  <footer id="footer">
  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <div id="mc_embed_signup">
    <form action="//vieuxsinge.us14.list-manage.com/subscribe/post?u=ecec080a5e9aa46166b5ff3bb&amp;id=291587aeda" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Vous souhaitez être tenu au courant de nos avancées ? Inscrivez-vous à notre newsletter !</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ecec080a5e9aa46166b5ff3bb_291587aeda" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Inscrivez-vous" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
    </form>
  </div>
    <ul class="icons">
      <li><a href="mailto:contact@vieuxsinge.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Brasserie du Vieux Singe</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </footer>

	<!-- Scripts -->
	<script src="theme/js/jquery.min.js"></script>
	<script src="theme/js/jquery.scrollex.min.js"></script>
	<script src="theme/js/jquery.scrolly.min.js"></script>
	<script src="theme/js/skel.min.js"></script>
	<script src="theme/js/util.js"></script>
	<!--[if lte IE 8]><script src="theme/js/ie/respond.min.js"></script><![endif]-->
	<script src="theme/js/main.js"></script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//tracker.notmyidea.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//tracker.notmyidea.org/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</div>
</body>
</html>
