{% extends "base.html" %}
{% block meta_extra %}
    <link rel="stylesheet" href="/theme/css/recipe.css" />
{% endblock %}
{% block title %}{{ recipe.name }}{%endblock%}

{% block content %}

<!-- Wrapper -->
  <section id="wrapper">

    <!-- Content -->
      <div class="wrapper style1">


        <div class="inner">



<article class="recipe-single" style="margin-bottom: 20px; margin-top: 5em;">
  <a class="button pull-right" href="/recettes">Voir les autres recettes</a>
  <p class="info">Si vous ne savez pas comment utiliser cette recette, on vous conseille de suivre <a href="http://univers-biere.net/tuto_tout_grain.php">l'excellent tuto du <em>Nain brasseur</em></a>.
  </p>
      <h2><span class="first-brewed pull-right">{{ recipe.date.strftime('%b %Y') }}</span></h2>
      <h1 class="clearfix recipe-title">
        {{ recipe.title }}
      </h1>
      
      <div class="info-bar clearfix">
        <h2 class="pull-left">{{ recipe.description }}
          <small>{{ recipe.style }}</small>
        </h2>
        <ul class="details pull-right">
          <li>Alc<br/>{{ recipe.basics['Alcool'] }}</li>
          <li>IBU<br/>{{ recipe.basics['Amertume (IBU)'] }}</li>
          <li>DI<br/>{{ recipe.basics['Densité Initiale'] }}</li>
        </ul>
      </div>
      <p  style="clear:both">
      {% if recipe.description_longue %}<em>{{ recipe.description_longue }}</em>{% endif %}
      </p>
      
      <div class="container">

      <div class="row">

        <div class="col">

          <div class="panel">
            <div class="panel-body">
            <table class="table three-col-table">
              {% for label, value in recipe.basics.items() %}
              <tr>
                <td><strong>{{ label }}</strong></td>
                <td>{{ value }}</td>
              </tr>
              {% endfor %}
            </table>

                </div>
              </div>
              <div class="panel">
  <div class="panel-body">
    <div class="icon-title">
      <img src="/theme/images/recettes/marmite.png" alt="Mash Icon"/>EMPÂTAGE
    </div>
    <table class="table three-col-table">
        {% for label, value in recipe.mash.items() %}
        <tr>
          <td><strong>{{ label }}</strong></td>
          <td>{{ value }}</td>
        </tr>
        {% endfor %}
      </table>

    <div class="icon-title">
      <img src="/theme/images/recettes/sceau-fermentation.png" alt="Fermentation Icon"/>FERMENTATION
    </div>
    <table class="table">
      {% for step in recipe.fermentation %}
      <tr><td>{{ step }}</td></tr>
      {% endfor %}
    </table>
        </div>
</div>        </div>
  <div class="col-sm"><div class="panel">
  <div class="panel-body">
    <div class="icon-title">
      <img src="/theme/images/recettes/orge.png" alt="Malt Icon"/>Céréales
    </div>
    <table class="table three-col"">
      {% for line in recipe.cereals %}
        {% for cereal, quantity in line.items() %}
          <tr>
            <td>{{ cereal }}</td><td class="align-right">{{ quantity }}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </table>

    <div class="icon-title">
      <img src="/theme/images/recettes/houblons.png" alt="Hops Icon"/>Houblons
    </div>
    <table class="table four-col"">
      <tr>
        <th></th>
        <th></th>
        <th>Moment</th>
        <th>Temps de contact</th>
      </tr>
      {% for hop in recipe.hops %}
        <tr>
          <td>{{ hop.hop }} {% if hop.alpha %}({{ hop.alpha }}){% endif %}</td>
          <td>{{ hop.poids }}</td>
          <td class="medium">{{ hop.moment }}</td>
          <td class="medium align-right">{{ hop.temps}}</td>
        </tr>
       {% endfor %}
    </table>

    <div class="icon-title">
      <img src="/theme/images/recettes/levures.png" alt="Yeast Icon"/>Levures
    </div>
    <table class="table three-col"">
      {% for yeast in recipe.yeasts %}
        {% for label, value in yeast.items() %}
          <tr>
            <td>{{ label }}</td><td class="align-right">{{ value }}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </table>
  </div>

  {% if recipe.adjuncts %}
  <div class="icon-title">
    ✱ Autres
  </div>
  <table class="table three-col"">
    {% for adjunct in recipe.adjuncts %}
      {% for label, value in adjunct.items() %}
        <tr>
          <td>{{ label }}</td><td class="align-right">{{ value }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
</div>
{% endif %}
  <div class="icon-title">
    <img src="/theme/images/recettes/eau.png" alt="Goute d'eau"/>Profil de l'eau visé
  </div>
  <table class="table three-col"">
    {% for label, value in recipe.water.items() %}
          <tr>
            <td>{{ label }}</td><td class="align-right">{{ value }}</td>
          </tr>
      {% endfor %}
  </table>
</div>

</div>
{% if recipe.tip %}
        <p style="clear:both"><img src="/theme/images/recettes/ampoule.png" alt="Image d'ampoule" style="width: 46px; float: left;" />{{ recipe.tip }}</p>
      {% endif %}
        <div class="col-sm">
          <div class="hidden-xs hidden-sm"><div class="panel">
  <div class="panel-header">
    <h3>Étiquette</h3>
  </div>
  <div class="panel-body no-padding packaging-panel">
      <img src="/images/recettes/{{ recipe.label['url'] }}" alt="{{ recipe.label['description'] }}" />
  </div>
</div></div>

</div>
      </div>
    </article>
    </div>
    </div>

    </section>
{% endblock %}
